<div class="recipe_container">
  <%= link_to "Back to list", recipes_path, {class: "return_link"} %>
  <div class="recipe_img_block">
    <img src="<%= @recipe.photo_url %>" alt="Recipe's photo">
  </div>
  <div class="recipe_info_block">
    <div class="recipe_info">
      <p class="recipe_title"><%= @recipe.title %></p>
      <ul>
        <% @recipe.tags&.each do |tag| %>
        <li class="recipe_tag"><%= tag %></li>
        <% end %>
      </ul>
      <p class="what_cooking">What's cooking</p>
      <div class="recipe_desc"><%= @recipe.description.html_safe %></div>
      <p>Shared with you by: <span class="recipe_chef"><%= @recipe.chef %></span></p>
    </div>
  </div>
</div>